
bas-app/._bas-app.xcodeproj
bas-app/._bas-app.xcodeproj
bas-app/._bas-app.xcodeproj
bas-app/bas-app.xcodeproj/._project.xcworkspace
bas-app/bas-app.xcodeproj/project.xcworkspace/xcuserdata/zhanghf.xcuserdatad/UserInterfaceState.xcuserstate
bas-app/bas-app/Base.lproj/._Main.storyboard
