@charset "utf-8";

/* CSS Document */
body {
	margin: 0px;
	padding: 0px;
	background-size: cover;
	background-attachment: fixed;
	background-color: #34495e;
}

p, h2, ul, h3, h4 {
	margin: 0px;
	padding: 0px;
}

a {
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
	color: #2a6ab4;
	font-weight: 600;
}

li {
	list-style: none;
}

::-webkit-scrollbar {
	width: 5px;
	height: 0px;
	background-color: #e5e5e5;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
	background-color: #2a6ab4;
}