.font_style {
	word-break: normal;
}

.content {
	width: 100%;
	height: 100%;
}

.d_top {
	width: 100%;
	height: 7%;
	background: #afafae;
	position: relative;
}

.th_img img {
	height: 100px;
	width: 100px;
}

.img_url {
	height: 100px;
	width: 100px;
}

.d_top_nav a {
	display: inline-block;
	height: 30px;
	width: 200px;
	color: #fff;
	line-height: 30px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	text-align: center;
	bottom: 0;
	position: absolute;
}

.d_content {
	width: 100%;
	height: 93%;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

.d_con {
	width: 100%;
	height: 83%;
	margin: 0 auto;
	/* 	overflow: auto; */
	position: relative;
}

.d_logo {
	position: absolute;
	background: #fff;
	right: 251px;
	width: 240px;
	height: 130px;
	vertical-align: middle;
	text-align: center;
	padding-top: 10px;
	box-sizing: border-box;
}

.d_logo p {
	font-weight: 600;
}

.d_logo img {
	
}

.ma {
	width: 100%;
	height: 100%;
}

.pl, .in, .ve {
	width: 100%;
	height: 100%;
	position: relative;
	/* 	overflow: auto; */
}

.tm {
	width: 100%;
	height: 100%;
	overflow: auto;
}

/*management */
.d_logo {
	position: absolute;
	background: #fff;
	top: 0;
	right: 0px;
	width: 240px;
	height: 130px;
	vertical-align: middle;
	text-align: center;
	padding-top: 10px;
	box-sizing: border-box;
}

.d_logo p {
	font-weight: 600;
}

.d_logo img {
	
}

.d_top_right {
	position: absolute;
	right: 20px;
	top: 0;
}

.d_top_right a {
	display: inline-block;
	height: auto;
	width: 60px;
	line-height: inherit;
	margin: 5px;
}

.d_top_right_show {
	width: 220px;
	height: 160px;
	background: #fff;
	position: absolute;
	right: 2px;
	top: 42px;
	border: 5px solid #2a6ab4;
	text-align: center;
	display: none;
}

.d_top_right_show a {
	display: inline-block;
	font-weight: 600;
	font-size: 25px;
	box-sizing: border-box;
	margin: 20px 0;
}

/*top end*/
.dm_banner {
	width: 80%;
	height: 50%;
	margin: 0 auto;
}

.dm_banner .dm_banner_banner {
	width: 100%;
	height: 100%;
	border-radius: 10px;
}

.dm_content {
	width: 95%;
	height: 250px;
	margin: 0 auto;
}

.dm_team {
	width: 33%;
	height: 150px;
	box-sizing: border-box;
	float: left;
	margin-top: 20px;
}

.dm_team_left {
	height: 100%;
	float: left;
	width: 35%;
	background: #2a6ab4;
	/*background: #2a6ab4;*/
	position: relative;
}

.dm_team_left a {
	position: absolute;
	font-size: 30px;
	font-weight: 600;
	color: #fff;
}

.dm_team_right {
	height: 100%;
	width: 60%;
	float: left;
}

.dm_team_right select {
	width: 100%;
	height: 30px;
	font-weight: 600;
}
/*ma  change color*/
.dm_team .ma_ccolor {
	background: #afafae;
	color: #fff;
}

.dm_team:nth-child(6n) .dm_team_left {
	/*background: #2a6ab4;*/
	background: #afafae;
	color: #fff;
	font-weight: 600;
}

.dm_team:nth-child(6n+4) .dm_team_left {
	/*background: #2a6ab4;*/
	background: #afafae;
	color: #fff;
	font-weight: 600;
}

.dm_team:nth-child(6n+5) .dm_team_left {
	/*background: #2a6ab4;*/
	background: #afafae;
	color: #fff;
	font-weight: 600;
}
/*ma  change color  end*/
.di_btn {
	position: fixed;
	bottom: 20px;
	right: 40px;
}

.di_btn a {
	background: #2a6ab4;
	color: #fff;
	padding: 10px 40px;
}
/*management end*/

/*information*/
.di_table_top th:nth-child(even) {
	background: #2a6ab4;
	color: #fff;
	font-weight: 600;
}

.di_table_top th:nth-child(even) input {
	background: #2a6ab4;
	color: #fff;
	font-weight: 600;
	text-align: center;
	max-width: 90px;
}

.di_table_top th:nth-child(odd) {
	color: #2a6ab4;
	font-weight: 600;
}

.di_table_top th:nth-child(odd) input {
	color: #2a6ab4;
	font-weight: 600;
	text-align: center;
	max-width: 80px;
}

.di_table_tr:nth-child(even) td:first-child {
	color: #000;
	font-weight: 600;
}

.di_table_tr:nth-child(even) {
	color: #000;
	font-weight: 600;
	background: #c9cac9;
}
/*.di_table_tr:nth-child(even) td{	
	border-left:1px solid #2a6ab4 ;
	*/
}
.di_table_tr:nth-child(even) input {
	width: 100%;
	color: #000;
	font-weight: 600;
	font-size: 14px;
}

.di_table_tr:nth-child(odd) {
	color: #000;
	font-weight: 600;
}

.di_table_tr:nth-child(odd) input {
	width: 100%;
	color: #000;
	font-weight: 600;
}

.di_table_tr td input {
	background: none;
	color: #000;
	border: none;
	outline-color: rgba(179, 132, 176, 0.3);
	font-size: 12px;
	text-align: center;
	width: 100%;
	font-weight: 600;
}

.di_table {
	width: 88%;
	border: none;
	font-weight: 600;
}

.di_table tr td {
	height: 80px;
	text-align: center;
}

.di_btn {
	position: fixed;
	bottom: 10px;
	right: 20px;
}

.di_btn a {
	background: #2a6ab4;
	color: #fff;
	padding: 10px 30px;
	font-weight: 600;
}

/*information end*/

/*plan Ã©Â¡ÂµÃ©ï¿½Â¢*/
.dp_top {
	width: 100%;
	height: 7%;
	box-sizing: border-box;
	border-bottom: 2px solid #afafae;
}

.dp_top_left {
	width: 20%;
	height: 100%;
	float: left;
	border-right: 2px solid #afafae;
}

.dp_top_left input {
	width: 48%;
	height: 100%;
	font-size: 28px;
	text-align: center;
	color: #2a6ab4;
	font-weight: 600;
	box-sizing: border-box;
}

.dp_top_right {
	width: 79%;
	height: 100%;
	float: right;
	border-right: 2px solid #afafae;
}

.dp_top_right input {
	width: 100%;
	height: 100%;
	color: #2a6ab4;
	font-weight: 600;
	font-size: 40px;
	text-align: center;
}

.dp_content {
	width: 100%;
	height: 80%;
	box-sizing: border-box;
	border-bottom: 2px solid #afafae;
}

.dp_content_left {
	width: 20%;
	height: 99%;
	float: left;
	border-right: 2px solid #afafae;
}

.dp_content_right {
	width: 79%;
	height: 100%;
	float: right;
}

.dp_content_right_top {
	height: 9%;
	width: 100%;
	text-align: center;
	font-size: 28px;
	font-weight: 600;
	color: #2a6ab4;
}

.dp_content_right_content {
	height: 91%;
	width: 100%;
}

.dp_table {
	width: 100%;
	height: 93%;
}

.dp_table th {
	text-align: center;
}

.dp_table td {
	text-align: center;
}

.dp_table_top th:nth-child(even) {
	background: #2a6ab4;
	color: #fff;
	font-weight: 600;
}

.dp_table_top th:nth-child(even) select {
	background: #2a6ab4;
	color: #fff;
	font-weight: 600;
	border: none;
	font-size: 16px;
}

.dp_table_top th:nth-child(odd) {
	color: #2a6ab4;
	font-weight: 600;
}

.dp_table_top th:nth-child(odd) select {
	color: #2a6ab4;
	font-weight: 600;
	font-size: 16px;
	border: none;
}

.dp_table_top th select {
	width: 100px;
}

.dp_table_tr:nth-child(odd) {
	background: #fff;
	color: #000;
	font-weight: 600;
}

.dp_table_tr:nth-child(even) select {
	color: #000;
	font-weight: 600;
	font-size: 16px;
	border: none;
}

.dp_table_tr:nth-child(even) {
	color: #000;
	font-weight: 600;
	background: #c9cac9;
}

.dp_table_tr tb select {
	width: 100px;
}

.dp_table_tr:nth-child(odd) select {
	background: #fff;
	color: #000;
	font-weight: 600;
	border: none;
	font-size: 16px;
}
/*Ã¥Â·Â¦Ã¤Â¾Â§*/
.dp_table_left .dp_table_tra {
	background: #fff;
	color: #fff;
}

.dp_table_tr td input {
	font-size: 14px;
}

.dp_btn {
	float: right;
	bottom: 5px;
	/* 	right: 20px; */
	position: relative;
	/* 	left: 30px; */
	/* 	top: 20px; */
}

.dp_btn a {
	background: #2a6ab4;
	color: #fff;
	padding: 5px 20px;
}

.dp_table_left {
	width: 100%;
	height: 100%;
}

.dp_table_left th {
	text-align: center;
}

.dp_table_left td {
	text-align: center;
}
/*plan Ã©Â¡ÂµÃ©ï¿½Â¢ end*/
/*Vehicle Evaluation*/
.ve table {
	border-collapse: collapse;
	white-space: nowrap;
}

.ve_fixed {
	position: fixed;
	top: 0px;
	left: 0px;
}

.ve_fixed td {
	height: 0;
}

.dv_table_top th li {
	white-space: normal;
	text-align: center;
}

.dv_table_top th:nth-child(even) {
	background: #c9cac9;
	color: #000;
	font-weight: 600;
}

.dv_table_top th:nth-child(odd) {
	background: #fff;
	color: #000;
	font-weight: 600;
	text-align: center;
}

.dv_table_top th:nth-child(even) {
	background: #2a6ab4;
	color: #fff;
	font-weight: 200;
	text-align: center;
}

.dv_table_tr:nth-child(even) td:first-child {
	color: #000;
	font-weight: 200;
	font-size: 14px;
	font-family: Calibri;
}

.dv_table_tr:nth-child(even) {
	color: #000;
	font-weight: 200;
	background: #c9cac9;
	font-family: Calibri;
}

.dv_table_tr:nth-child(even) textarea {
	color: #000;
	font-weight: 600;
	background: none;
	/*background: #c9cac9;*/
}
/*.di_table_tr:nth-child(even) td{	
	border-left:1px solid #2a6ab4 ;
	*/
}
/* .dv_table_tr:nth-child(even) input{
	width: 100%;
	color: #000;
	font-weight:600 ;
	
	
} */
.dv_table_tr:nth-child(odd) {
	color: #000;
	font-weight: 200;
}

.dv_table_tr:nth-child(odd) textarea {
	color: #000;
	font-weight: 600;
}

.dv_table_tr:nth-child(odd) input[type="text"] {
	background: none;
	color: #000;
	border: none;
	outline-color: rgba(179, 132, 176, 0.3);
	/* 	font-size: 16px; */
	text-align: center;
	width: 90%;
	/* 	font-weight: 600; */
}

.dv_table_tr:nth-child(odd) input[type="number"] {
	background: none;
	color: #000;
	border: none;
	outline-color: rgba(179, 132, 176, 0.3);
	font-size: 16px;
	text-align: center;
	width: 90%;
	font-weight: 600;
}

.table-wapper {
	height: 100%;
	font-size: 16px;
	position: relative;
}
/*.table1-wapper{overflow: auto;} */
.table-wapper table {
	border-collapse: collapse;
	white-space: nowrap;
	table-layout: fixed;
	width: 95%;
}

.table-wapper th {
	font-size: 18px;
	font-weight: normal;
	white-space: normal;
}

.table-wapper td {
	text-align: center;
	border: 1px solid #e5e5e5;
}

.fixed-table1-wapper {
	position: fixed;
	top: 50px;
	left: 0;
	overflow: hidden;
}

.dv_table input {
	width: inherit;
}

.checkvehicle {
	width: 7%;
	color: #000;
	font-weight: 600;
}

.dv_table_tr td input[type="text"] {
	background: none;
	color: #000;
	border: none;
	outline-color: rgba(179, 132, 176, 0.3);
	/* 	font-size: 16px; */
	text-align: center;
	width: 90%;
	/* 	font-weight: 600; */
}

.dv_table_tr td input[type="number"] {
	background: none;
	color: #000;
	border: none;
	outline-color: rgba(179, 132, 176, 0.3);
	font-size: 16px;
	text-align: center;
	width: 90%;
	font-weight: 600;
}

.dv_table {
	width: 140%;
	overflow: auto;
	border: none;
	font-weight: 200;
	font-family: Calibri;
}

.d_table {
	width: 1500px;
	overflow: auto;
	border: none;
	font-weight: 200;
	font-family: Calibri;
}

.dv_table tr td {
	/* 	height: 80px;
	text-align: center; */
	word-warp: break-word;
	overflow: hidden;
	white-space: normal;
	text-align: left;
}

.ty_table {
	width: 100%;
	overflow: auto;
	border: none;
	font-weight: 600;
}

.ty_table tr td {
	height: 80px;
	text-align: center;
}

.dv_btn {
	position: fixed;
	bottom: 3px;
	right: 20px;
}

.dv_btn a {
	background: #2a6ab4;
	color: #fff;
	padding: 2px 30px 7px 30px;
	font-weight: 600;
}
/*Vehicle Evaluation end*/
/*Tester management*/
.dt_table_top th:nth-child(even) {
	background: #2a6ab4;
	color: #fff;
	font-weight: 600;
}

.dt_table_top th:nth-child(odd) {
	color: #2a6ab4;
	font-weight: 600;
}

.dt_table_tr:nth-child(even) td:first-child {
	color: #000;
	font-weight: 600;
}

.dt_table_tr:nth-child(even) {
	color: #000;
	font-weight: 600;
	background: #c9cac9;
}

/*å¼¹å‡ºç•Œé�¢2.15*/
.theme-buy {
	margin-top: 10%;
	text-align: center;
}

.theme-gobuy, .theme-signin {
	font-size: 15px;
}

.theme-price {
	position: relative;
	bottom: -6px;
	font-family: microsoft yahei, Arial, Helvetica, sans-serif;
	margin-right: 20px;
	font-weight: bold;
	color: #f60;
	line-height: 32px;
	font-size: 24px;
	display: inline-block;
}

.theme-price dfn {
	font-style: normal;
	font-size: 18px;
	margin-right: 2px;
}

.theme-desc {
	padding: 30px;
}

.theme-version {
	padding: 30px;
}

.theme-popover-mask {
	z-index: 9998;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.4;
	filter: alpha(opacity = 40);
	display: none
}

.theme-popover {
	z-index: 9999;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 660px;
	height: 450px;
	margin: -180px 0 0 -330px;
	border-radius: 5px;
	border: solid 2px #666;
	display: none;
	box-shadow: 0 0 10px #666;
	background: #dcdcdc;
}

;
.theme-poptit {
	border-bottom: 1px solid #ddd;
	height: 12px;
	position: relative;
}

.theme-popbod {
	padding: 60px 15px;
	color: #444;
	height: 148px;
}

.theme-popbom {
	padding: 15px;
	background-color: #f6f6f6;
	border-top: 1px solid #ddd;
	border-radius: 0 0 5px 5px;
	color: #666
}

.theme-popbom a {
	margin-left: 8px
}

.theme-poptit .close {
	float: right;
	color: #999;
	font: bold 14px/14px simsun;
	text-shadow: 0 1px 0 #ddd
}

.theme-poptit .close:hover {
	color: #444;
}

.da_company_edit {
	margin-left: 100px;
}

.da_company_edit li {
	background: #fff;
	width: 300px;
	height: 40px;
	/*border: 1px solid #f29901;*/
	line-height: 40px;
	margin: 9px;
	border-radius: 10px;
}

.da_company_edit li input {
	width: 200px;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	text-align: center;
}

.da_company_edit a {
	display: inline-block;
	width: 100px;
	height: 40px;
	background: #f29901;
	color: #fff;
	text-align: center;
	line-height: 40px;
	border-radius: 10px;
	margin-left: 50px;
}

.da_company_edit .close {
	margin: 1px;
	width: 100px;
	height: 40px;
	background: #2a6ab4;
	color: #fff;
	text-align: center;
	line-height: 40px;
}

/*.di_table_tr:nth-child(even) td{	
	border-left:1px solid #2a6ab4 ;
	*/
}
.dt_table_tr:nth-child(even) input {
	width: 100%;
	color: #000;
	font-weight: 600;
}

.dt_table_tr:nth-child(odd) {
	color: #000;
	font-weight: 600;
}

.dt_table_tr:nth-child(odd) input {
	width: 100%;
	color: #000;
	font-weight: 600;
}

.dt_table_tr td input {
	background: none;
	color: #000;
	border: none;
	outline-color: rgba(179, 132, 176, 0.3);
	font-size: 16px;
	text-align: center;
	width: 100%;
	font-weight: 600;
}

.dt_table {
	width: 100%;
	border: none;
	font-weight: 600;
}

.dt_table tr td {
	height: 80px;
	text-align: center;
}

.dt_btn {
	position: fixed;
	bottom: 10px;
	right: 20px;
}

.dt_btn a {
	background: #2a6ab4;
	color: #fff;
	padding: 10px 30px;
	font-weight: 600;
}

/*----------------------------------------*/
.tm_se {
	height: 100px;
	width: 100%;
	vertical-align: middle;
	margin: 0 auto;
	background: url(../images/banner.png);
	border-radius: 20px;
}

.tm_sel {
	height: 30px;
	width: 400px;
	margin: 30px 60px;
}

.tm_search {
	
}

.tm_search_ve {
	display: none;
}

.clear_all {
	width: 50px;
}
/*******************************lsy add begin**************************************/
.nav {
	
}

.nav-group {
	margin-bottom: 0px;
	padding: 52px;
}

.li-list {
	background: #2a6ab4;
	font-weight: 500;
	border-radius: 10px 10px 0px 0px;
	margin-left: 10px;
	list-style: none;
	float: left;
	width: 15%;
	text-align: center;
	margin-left: 10px;
}

.li-list a {
	text-decoration: none;
	font-size: 18px;
	color: white;
}

.li-list-selected {
	background: #bdbaba;
	color: #2a6ab4;
	left: 200px;
}

.home-title {
	float: left;
	margin-top: 15px;
	margin-left: 60px;
}

.home-title a {
	font-size: 35px;
}

.dvc {
	margin-bottom: 50px
}

.bba-title {
	color: #2a6ab4;
	font-family: inherit;
	font-size: 60px;
}
/*******************************lsy add end  **************************************/