*{
	padding: 0;
    margin: 0;
 }
body{
    position: relative;
    /**color: #fff;**/
}
.header{
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 10;
    background-color: #999;
    background-image:url('/image/hd.jpg');
    background-size:100% 100%;
    background-repeat: no-repeat;
}
.content{
    position: absolute;
    padding: 80px 0 40px 0;
    width: 100%;
    /**background-color: black;**/
}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    z-index: 11;
    background-color: blue;
    background-image:url('/image/ft.jpg');
    background-repeat: no-repeat;
}

div.img {
    border: 1px solid #ccc;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: 89px;
}

div.desc {
    padding: 0px;
    width:45%; 
    font-size:small;
    text-align: left;
}

div.left {
    float:left; 
}
div.right {
    float:right; 
}

div.top {
    text-align:center; width:100%; 
}

p.status.green {
	color: green;
}
p.status.blue {
	color: blue;
}


.text_line
{
	clear:both;
	margin-bottom:2px;
}

div.date {
	padding: 0px;
    text-align: right;
}


* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 4px;
    float: left;
    width: 14.26666%;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

@media screen and (min-width:1920px){
	.header{
		height: 112px;
		background-image:url('/image/hd1920.jpg');
	}
	.footer{
		height: 80px;	
		background-image:url('/image/ft1920.jpg');
	}
	.content{
		padding: 112px 0 112px 0;
	}
	div.img img {
    	height: 125px;
	}
	div.desc {
		font-size:large;
	}
	div.top {
		font-size:large;
	}	
	div.date {
		font-size:large;
	}		
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}