<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zll.dms.dao.ArcosDetailDao">
	<resultMap id="ArcosDetail" type="com.zll.dms.model.ArcosDetail">
		<id column="id" property="id" /><!-- ID -->
		<result column="vehicle_id" property="vehicleId" /><!-- 车辆ID -->
		<result column="file_name" property="fileName" /><!-- 文件名称 -->
		<result column="last_update_time" property="lastUpdateTime" /><!-- 最后修改时间 -->
		<result column="file_size" property="fileSize" /><!-- 文件大小 -->
		<result column="removed" property="removed" /><!-- 文件已经删除 -->
	</resultMap>

	<!-- 获取Arcos明细数据列表 -->
	<select id="getList" resultMap="ArcosDetail" parameterType="map">
		select
			id,
			vehicle_id,
			file_name,
			last_update_time,
			file_size,
			removed
		from arcos_detail
		where 1 = 1
		<if test="vehicleId != null">
			and vehicle_id = #{vehicleId}
		</if>		
		<if test="removed != null">
			and removed = #{removed}
		</if>	
		<if test="lastUpdateTimeBefore != null">
			and last_update_time &lt;= #{lastUpdateTimeBefore}
		</if>	  
		<if test="lastUpdateTimeAfter != null">
			and last_update_time &gt;= #{lastUpdateTimeAfter}
		</if>		
	</select>

	<!-- 添加实时数据  mysql版本 
	<insert id="addList" parameterType="ArcosDetail">
		insert into arcos_detail(
			id,
			vehicle_id,
			file_name,
			last_update_time,
			file_size
		) values 
		<foreach collection="list" item="item" index="index" separator=",">
		(
			#{item.id}, 
			#{item.vehicleId}, 
			#{item.fileName}, 
			#{item.lastUpdateTime}, 
			#{item.fileSize}
		)
		</foreach>
	</insert>
	-->
	
	<!-- 添加实时数据  oracle版本 -->
	<insert id="addList" parameterType="list">
	    insert into arcos_detail (id, vehicle_id, file_name, last_update_time, file_size, removed)
	    (
	    <foreach collection="list" index="" item="item" separator="union all">
	        select
	         #{item.id},
	         #{item.vehicleId},
	         #{item.fileName},
	         #{item.lastUpdateTime},
	         #{item.fileSize},
	         #{item.removed}
	        from dual
	    </foreach>
	    )
	</insert>
  	
	<!-- 删除Arcos详细数据 -->
	<delete id="delete" parameterType="map">
	  delete from arcos_detail
	  where vehicle_id = #{vehicleId}
	    and 
	    (
	    file_name in 
	    <!-- 
        <foreach collection="fileNameList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
         -->
	    <trim suffixOverrides=" or file_name in ()">
	        <foreach collection="fileNameList" index="index" item="item" open="(" close=")">
	            <if test="index != 0">
	                <choose>
	                    <when test="index % 1000 == 999">) or file_name in (</when>
	                    <otherwise>,</otherwise>
	                </choose>
	            </if>
	            #{item}
	        </foreach>
	    </trim>        
        )
	</delete>
	
</mapper>