<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zll.dms.dao.ArcosTotalDao">
  <resultMap id="ArcosTotal" type="com.zll.dms.model.ArcosTotal">
    <id column="id" property="id" />
    <result column="today" property="today" />
    <result column="last_time" property="lastTime" />
    <result column="total" property="total" />
    <result column="last_total" property="lastTotal" />   
    <result column="collected_time" property="collectedTime" />  
    <result column="is_transerfing" property="isTranserfing" />  
    <result column="start_file_size_today" property="startFileSizeToday" />
    <result column="start_time_today" property="startTimeToday" />    
         
  </resultMap>
  
	<!-- 获取Arcos汇总数据列表 -->
	<select id="getList" resultMap="ArcosTotal" parameterType="map">
		select
	    	id, 
	    	today, 
	    	last_time, 
	    	total,
	    	last_total,
	    	collected_time,
	    	is_transerfing,
	    	start_file_size_today,
	    	start_time_today
		from arcos_total
		where 1 = 1 
		<if test="id != null">
			and id = #{id}
		</if>
	</select>  
	
  <!-- 查询Arcos汇总信息 -->
  <select id="get" parameterType="string" resultMap="ArcosTotal">
    select
    	id, 
    	today, 
    	last_time, 
    	total,
    	last_total,
    	collected_time,
    	is_transerfing,
    	start_file_size_today,
    	start_time_today
    from arcos_total
    where id = #{id}
  </select>

  <!-- 添加Arcos汇总信息 -->
  <insert id="add" parameterType="ArcosTotal">
    insert into arcos_total (
   	<trim suffixOverrides=",">
    	id, 
    	today, 
    	last_time, 
    	total,
    	last_total,
    	collected_time,
    	is_transerfing,
    	start_file_size_today,
    	start_time_today,
   	</trim>
   	)values (
	<trim suffixOverrides=",">
      	#{id}, 
      	#{today},  
      	#{lastTime},
      	#{total},
      	#{lastTotal},
      	#{collectedTime, jdbcType=DATE},  
      	#{isTranserfing}, 
      	#{startFileSizeToday}, 
      	#{startTimeToday},      	    	
     </trim>
     )
  </insert>
  <!-- 更新Arcos汇总信息 -->
  <update id="update" parameterType="ArcosTotal">
    update arcos_total
    <set>
      <if test="today != null">
        today = #{today},
      </if>
      <if test="lastTime != null">
        last_time = #{lastTime},
      </if>
      <if test="total != null">
        total = #{total},
      </if>  
      <if test="lastTotal != null">
        last_total = #{lastTotal},
      </if>  
      <if test="collectedTime != null">
        collected_time = #{collectedTime},
      </if> 
      <if test="isTranserfing != null">
        is_transerfing = #{isTranserfing},
      </if>  
      <if test="startFileSizeToday != null">
        start_file_size_today = #{startFileSizeToday},
      </if>  
      <if test="startTimeToday != null">
        start_time_today = #{startTimeToday},
      </if>       
                                  
    </set>
    where id = #{id}
  </update>
  <!-- 删除Arcos汇总信息 -->
  <delete id="delete" parameterType="string">
    delete from arcos_total
    where id = #{id}
  </delete>
</mapper>