<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zll.dms.dao.HistoryDetailDao">
	<resultMap id="HistoryDetail" type="com.zll.dms.model.HistoryDetail">
		<id column="id" property="id" /><!-- ID -->
		<result column="vehicle_id" property="vehicleId" /><!-- 车辆ID -->
		<result column="file_name" property="fileName" /><!-- 文件名称 -->
		<result column="last_update_time" property="lastUpdateTime" /><!-- 最后修改时间 -->
		<result column="file_size" property="fileSize" /><!-- 文件大小 -->
		<result column="file_path" property="filePath" /><!-- 文件路径 -->
		<result column="type" property="type" /><!-- 数据类型：arcos或者edr -->
		<association property="vehicle"  column="vehicle_id" select="com.zll.dms.dao.VehicleDao.get" />
	</resultMap>

	<!-- 获取History明细数据列表 
	<select id="getList" resultMap="HistoryDetail" parameterType="map">
		select
			id,
			vehicle_id,
			file_name,
			last_update_time,
			file_size,
			file_path,
			type
		from history_detail
		where 1 = 1
		<if test="vehicleId != null">
			and vehicle_id = #{vehicleId}
		</if>
		order by last_update_time desc
	</select>
	-->
	
	<!-- 获取History明细分页数据列表 -->
	<select id="getList" resultMap="HistoryDetail" parameterType="map">
	    select
	      id,
	      vehicle_id,
	      file_name,
	      last_update_time,
	      file_size,
	      file_path,
	      type
	    from (select history.*, rownum as rownum2
	          from (select detail.* 
                    from history_detail detail
                    left join vehicle on detail.vehicle_id = vehicle.id
		<if test="searchLike != null">
					where vehicle.vin_code like #{searchLike}
					   or detail.type like #{searchLike}
					   or detail.file_name like #{searchLike}
		</if>
					order by last_update_time desc
	                ) history
		<if test="length != null and start != null">
			where rownum &lt;= #{start} + #{length}
		</if>	                
	        )
		<if test="length != null and start != null">
			where rownum2 &gt; #{start}
		</if>
		order by last_update_time desc
	</select>
	
	<select id="getCount" resultType="int" parameterType="map">
		select count(1)
		from history_detail history
		left join vehicle on vehicle.id = history.vehicle_id
		<if test="searchLike != null">
		where vehicle.vin_code like #{searchLike}
		   or type like #{searchLike}
		   or file_name like #{searchLike}
		</if>
		order by last_update_time desc	
	</select>	

	<!-- 添加实时数据  mysql版本 
	<insert id="addList" parameterType="HistoryDetail">
		insert into history_detail(
			id,
			vehicle_id,
			file_name,
			last_update_time,
			file_size,
			file_path, 
			type
		) values 
		<foreach collection="list" item="item" index="index" separator=",">
		(
			#{item.id}, 
			#{item.vehicleId}, 
			#{item.fileName}, 
			#{item.lastUpdateTime}, 
			#{item.fileSize},
			#{item.filePath},
			#{item.type}
		)
		</foreach>
	</insert>
	-->
	
	<!-- 添加实时数据  oracle版本 -->
	<insert id="addList" parameterType="list">
	    insert into history_detail (id, vehicle_id, file_name, last_update_time, file_size, file_path, type)
	    (
	    <foreach collection="list" index="" item="item" separator="union all">
	        select
	         #{item.id},
	         #{item.vehicleId},
	         #{item.fileName},
	         #{item.lastUpdateTime},
	         #{item.fileSize},
	         #{item.filePath},
	         #{item.type}
	        from dual
	    </foreach>
	    )
	</insert>
  	
	<!-- 删除History详细数据 -->
	<delete id="delete" parameterType="map">
	  delete from history_detail
	  where id in 
	  <!-- 
      <foreach collection="idSet" index="index" item="item" open="(" separator="," close=")">
          #{item}
      </foreach>
       -->
       
	  <trim suffixOverrides=" or id in ()">
	      <foreach collection="idSet" index="index" item="item" open="(" close=")">
	          <if test="index != 0">
	              <choose>
	                  <when test="index % 1000 == 999">) or id in (</when>
	                  <otherwise>,</otherwise>
	              </choose>
	          </if>
	          #{item}
	      </foreach>
	  </trim>        
	</delete>
	
</mapper>