<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zll.dms.dao.TransmissionTotalDao">
	<resultMap id="TransmissionTotal" type="com.zll.dms.model.TransmissionTotal">
		<id column="id" property="id" />
		<result column="arcos_total" property="arcosTotal" />
		<result column="edr_total" property="edrTotal" />
		<result column="arcos_start_file_size_today" property="arcosStartFileSizeToday" />
		<result column="edr_start_file_size_today" property="edrStartFileSizeToday" />
		<result column="arcos_start_time_today" property="arcosStartTimeToday" />
		<result column="edr_start_time_today" property="edrStartTimeToday" />
		<association property="vehicle"  column="id" select="com.zll.dms.dao.VehicleDao.get" />
	</resultMap>

	<!-- 获取Transmission汇总数据列表 -->
	<select id="getList" resultMap="TransmissionTotal" parameterType="map">
	    select
	      id,
	      arcos_total,
	      edr_total,
	      arcos_start_file_size_today,
	      edr_start_file_size_today,
	      arcos_start_time_today,
	      edr_start_time_today
	    from transmission_total
		where 1 = 1
		<if test="id != null">
			and id = #{id}
		</if>
	</select>

	<!-- 查询Transmission汇总信息 -->
	<select id="get" parameterType="string" resultMap="TransmissionTotal">
		select
			id,
			arcos_total,
			edr_total,
			arcos_start_file_size_today,
			edr_start_file_size_today,
			arcos_start_time_today,
			edr_start_time_today
		from transmission_total
		where id = #{id}
	</select>

	<!-- 添加Transmission汇总信息 -->
	<insert id="add" parameterType="TransmissionTotal">
		insert into transmission_total (
		<trim suffixOverrides=",">
			id,
			arcos_total,
			edr_total,
			arcos_start_file_size_today,
			edr_start_file_size_today,
			arcos_start_time_today,
			edr_start_time_today,
		</trim>
		)values (
		<trim suffixOverrides=",">
			#{id},
			#{arcosTotal},
			#{edrTotal},
			#{arcosStartFileSizeToday},
			#{edrStartFileSizeToday},
			#{arcosStartTimeToday, jdbcType=DATE},
			#{edrStartTimeToday, jdbcType=DATE},
		</trim>
		)
	</insert>
	<!-- 添加实时数据  oracle版本 -->
	<insert id="addList" parameterType="list">
	    insert into transmission_total (id, arcos_total, edr_total, arcos_start_file_size_today, edr_start_file_size_today, arcos_start_time_today, edr_start_time_today)
	    (
	    <foreach collection="list" index="" item="item" separator="union all">
	        select
	         #{item.id},
	         #{item.arcosTotal},
	         #{item.edrTotal},
	         #{item.arcosStartFileSizeToday},
	         #{item.edrStartFileSizeToday},
	         #{item.arcosStartTimeToday, jdbcType=DATE},
	         #{item.edrStartTimeToday, jdbcType=DATE}
	        from dual
	    </foreach>
	    )
	</insert>	
	<!-- 更新Transmission汇总信息 -->
	<update id="update" parameterType="TransmissionTotal">
		update transmission_total
		<set>
			<if test="arcosTotal != null">
				arcos_total = #{arcosTotal},
			</if>
			<if test="edrTotal != null">
				edr_total = #{edrTotal},
			</if>
			<if test="arcosStartFileSizeToday != null">
				arcos_start_file_size_today = #{arcosStartFileSizeToday},
			</if>
			<if test="edrStartFileSizeToday != null">
				edr_start_file_size_today = #{edrStartFileSizeToday},
			</if>
			<if test="arcosStartTimeToday != null">
				arcos_start_time_today = #{arcosStartTimeToday},
			</if>
			<if test="edrStartTimeToday != null">
				edr_start_time_today = #{edrStartTimeToday},
			</if>
		</set>
		where id = #{id}
	</update>
	<!-- 删除Transmission汇总信息 -->
	<delete id="delete" parameterType="string">
		delete from transmission_total
		where id = #{id}
	</delete>
</mapper>