<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flynet.bas.dao.VehicleDao">
	<resultMap id="Vehicle" type="com.flynet.bas.model.Vehicle">
		<id column="id" property="id" />
		<result column="order_number" property="order" />
		<result column="type" property="type" />
		<result column="engine" property="engine" />
		<result column="tire" property="tire" />
		<result column="vin" property="vin" />
		<result column="i_level" property="iLevel" />
		<result column="pictrue_id" property="pictureId" />
	</resultMap>

	<!-- 查询车辆 -->
	<select id="get" parameterType="string" resultMap="Vehicle">
		select
		id,
		order_number,
		type,
		engine,
		tire,
		vin,
		i_level,
		pictrue_id
		from vehicle
		where id = #{id}
	</select>
	<!-- 查询车辆列表 -->
	<select id="getList" parameterType="map" resultMap="Vehicle">
		select
		id,
		order_number,
		type,
		engine,
		tire,
		vin,
		i_level,
		pictrue_id
		from vehicle
		where 1 = 1
		<if test="type != null">
			and type = #{type}
		</if>
		<if test="engine != null">
			and engine = #{engine}
		</if>
		<if test="tire != null">
			and tire = #{tire}
		</if>
		<if test="vin != null">
			and vin = #{vin}
		</if>
		<if test="iLevel != null">
			and i_level = #{iLevel}
		</if>
		order by order_number
	</select>
	<!-- 添加车辆 -->
	<insert id="add" parameterType="Vehicle">
		insert into vehicle (
		<trim suffixOverrides=",">
			id,
			order_number,
			type,
			engine,
			tire,
			vin,
			i_level,
			pictrue_id,
		</trim>
		)values (
		<trim suffixOverrides=",">
			#{id},
			#{order},
			#{type},
			#{engine},
			#{tire},
			#{vin},
			#{iLevel},
			#{pictrueId},
		</trim>
		)
	</insert>
	<!-- 更新车辆 -->
	<update id="update" parameterType="Vehicle">
		update vehicle
		<set>
			<if test="order != null">
				order_number = #{order},
			</if>
			<if test="type != null">
				type = #{type},
			</if>
			<if test="engine != null">
				engine = #{engine},
			</if>
			<if test="tire != null">
				tire = #{tire},
			</if>
			<if test="vin != null">
				vin = #{vin},
			</if>
			<if test="iLevel != null">
				i_level = #{iLevel},
			</if>
			<if test="pictrueId != null">
				pictrue_id = #{pictrueId},
			</if>
		</set>
		where id = #{id}
	</update>
	<!-- 删除车辆 -->
	<delete id="delete" parameterType="string">
		delete from vehicle
		where id = #{id}
	</delete>
</mapper>